*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1fc8db;
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

input {
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  background: rgb(46, 46, 46);
  color: white;
}

header {
  background-color: rgb(46, 46, 46);
  color: white;
}

header i {
  font-size: 3rem;
}

.search {
  margin: 10px 0;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.temp-container {
  border: 1px solid gray;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  background-color: gray;
  color: white;
}

.temp-value {
  font-size: 5rem;
}

.selector {
  border: 1px solid gray;
  border-radius: 5px;
}

.celsius:hover {
  background-color: gray;
}

.farenheit:hover {
  background-color: gray;
}

.location-container {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 2rem;
}
